* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

body {
  background: white;
  min-height: 200vh;
  animation: transitionIn 2s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw;
  z-index: 100000;
  height: 8vh;
}

header.stickyScroll {
  background: #3bb7b8;
  transition: 0.4s;
}

.logo {
  position: relative;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: min(calc(2vw + 12px), 26px);
  font-family: "Sottel", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}

.logo:hover {
  font-size: min(calc(2vw + 14px), 28px);
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 7vh;
  gap: 0;
  display: flex;
  flex-direction: column;
  gap: 0.7vh;
  background-color: #3bb7b8;
  width: 100%;
  padding: 2vh 0;
  text-align: center;
  transition: 0.3s;
  opacity: 0.8;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  position: relative;
  margin: 0 1vw;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: min(calc(3vw + 6px), 20px);
  font-weight: 500px;
  transition: 0.4s;
}

.nav-link:hover {
  color: #aad;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger:hover .bar {
  width: 30px;
  height: 4px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.hamburger.active:hover .bar {
  height: 3px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.content {
  padding: 9vh 20px 1vh;
  margin: 0 auto;
  max-width: 1000px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: min(calc(1.7vw + 24px), 38px);
  font-weight: 1000;
  margin-bottom: 20px;
}

#home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./images/background-picture.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home h1 {
  font-size: min(calc(7vw + 28px), 100px);
  font-family: "Sottel", sans-serif;
}

#home p {
  font-size: min(calc(2vw + 12px), 32px);
}

#about p {
  font-size: min(calc(1vw + 10px), 17px);
  margin-bottom: 20px;
}

#about-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: center;
  max-width: 400px;
  margin: 30px auto 0;
}

#about-pics img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#skills {
  position: relative;
  width: 100%;
  height: 100%;
}

#skills-pics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 120px));
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#skills-pics img {
  width: 100%;
  max-height: 80px;
  object-fit: contain;
}

#projects h3 {
  text-align: center;
  font-size: min(calc(1vw + 18px), 28px);
  font-weight: 900;
  margin-bottom: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 30px;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.project-description a {
  max-width: 200px;
  margin-right: 8px;
  text-decoration: none;
  padding: 14px 8px;
  border: 2px black;
  font-size: 14px;
  text-align: center;
  display: block;
  transition: transform 0.5s;
  backface-visibility: hidden;
  background-color: #3bb7b8;
  border-radius: 8px;
  color: white;
}

.project-description span {
  font-size: 20px;
  font-weight: 900;
}

.project-description a:hover,
.project-description a:focus {
  box-shadow: 0 0 3px black;
  transform: translateX(20px);
}

.website-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-link img {
  width: 100%;
  max-width: 560px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.website-link:hover img {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

hr {
  margin: 20px 0;
}

#contact h3 {
  text-align: center;
  font-size: min(calc(1vw + 14px), 20px);
  margin-bottom: 30px;
}

#contactContainer {
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 7px black;
  max-width: 600px;
  margin: 0 auto;
}

.formData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formData input,
.formData textarea {
  height: 40px;
  border-radius: 7px;
  padding: 6px;
  border: 2px solid black;
}

.formData input {
  height: 40px;
  border-radius: 7px;
  padding: 6px;
}

.formData textarea {
  resize: vertical;
  padding: 8px;
  height: 30vh;
}

.formData button {
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  color: white;
  background-color: #3bb7b8;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.formData button:hover,
.formData button:focus {
  background-color: #29a0a3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

#contactSocial a {
  margin-top: 10vh;
  text-decoration: none;
  color: black;
  font-size: 2vw;
  font-weight: 900;
  transition: transform 0.5s;
}

#contactSocial a:hover {
  transform: translateX(20px);
}

#contactSocial a img {
  width: 2vw;
  height: 4vh;
}

footer {
  background-color: #2a8a89;
  color: white;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vw;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

#footer-container a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease;
}

#footer-container a:hover,
#footer-container a:focus {
  color: #aad;
  transform: translateY(-2px);
  outline: none;
}

#footer-container img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media (min-width: 600px) {
  #about-pics {
    grid-template-columns: repeat(4, 1fr);
    max-width: 850px;
    margin-top: 40px;
  }

  footer {
    height: 130px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 5vh 5vw;
  }

  header.stickyScroll {
    padding: 2vh 5vw;
  }

  header ul li {
    position: relative;
    list-style: none;
  }

  .nav-menu {
    position: static;
    left: auto;
    top: auto;
    flex-direction: row;
    gap: 10px;
    width: auto;
    padding: 0;
    justify-content: flex-end;
    opacity: 1;
    background-color: transparent;
  }

  .hamburger {
    display: none;
  }

  .content {
    padding: 10vh 40px 0;
  }

  .title {
    margin-bottom: 4vh;
  }

  #skills-pics {
    grid-template-columns: repeat(auto-fill, minmax(auto, 140px));
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  footer {
    height: 180px;
    margin-top: 70px;
  }

  #footer-container a {
    font-size: 20px;
  }

  #footer-container img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
