* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

body {
    background: white;
    min-height: 200vh;
    animation: transitionIn 3s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
    padding: 5vh 12vw;
    z-index: 100000;
}

header.stickyScroll {
    padding: 2vh 12vw;
    background: #2E89A6;
}

header.stickyScroll ul li a:hover {
    color: black;
    font-size: 1.5vw;
}

header.stickyScroll .logo:hover {
    color: black;
    font-size: 3.5vw;
}

.logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 3vw;
    font-family: 'Sottel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.logo:hover {
    color: black;
    font-size: 3.5vw;
}

.nav-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

.nav-link {
    position: relative;
    margin: 0 1vw;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.1vw;
    font-weight: 500px;
    transition: 0.6s;
}

.nav-link:hover {
    color: black;
    font-size: 1.5vw;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 39vh 0;
}

#home h1 {
    font-size: 13vw;
    font-family: 'Sottel', sans-serif;
}

#home p {
    font-size: 3vw;
}

header.stickyScroll .logo,
header.stickyScroll ul li a {
    color: white;
}


#about {
    position: relative;
    width: 100%;
    height: 100%;

}

.title {
    display: flex;
    justify-content: center;
    font-size: 4.5vw;
    margin-bottom: 4.5vh;
}

#about p {
    font-size: 1.3vw;
    margin-bottom: 7vh;
}

.content {
    padding: 15vh 12vw 2vh;
}

#pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pic img {
    width: 17vw;
    border-radius: 50%;
}

#skills {
    position: relative;
    width: 100%;
    height: 100%;
}

#skills div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#skillsPics {
    display: flex;
    flex-wrap: wrap;
}


#skillsPics img {
    width: 15vw;
}

#projects h2 {
    margin-top: 4vh;
    font-size: 2vw;
    color: #2E89A6;
}

.projectContainer {
    display: flex;
    gap: 6vw;
}

.containerSpecific {
    width: 50%;
}

.containerSpecific h2 {
    margin-top: 3vh;
}

.containerSpecific p {
    margin: 4vh 0;
}

.containerSpecific a {
    width: 15vw;
    margin-bottom: 4vh;
    text-decoration: none;
    padding: 2vh 1vw;
    border: 2px black;
    font-size: 1.3vw;
    text-align: center;
    display: block;
    transition: transform 0.5s;
    backface-visibility: hidden;
    background-color: #2E89A6;
    border-radius: 8px;
    color: white;
}

.containerSpecific a:hover {
    box-shadow: 0 0 3px black;
    transform: translateX(20px);
}

.containerSpecific iframe {
    width: 100%;
    margin-bottom: 1.2vh;
}

#contact {
    margin-bottom: 8vh;
}

#contact h3 {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 6vh;
}

#contactContainer {
    border-radius: 5px;
    padding: 8vh 5vw;
    display: flex;
    margin-top: 3vh;
    gap: 5vw;
    box-shadow: 0 0 7px black;
}

#contactInfo {
    flex: 7;
}

.formData {
    display: flex;
    flex-direction: column;
    gap: 1.7vw;

}

.formData input {
    height: 6vh;
    font-size: 1.2vw;
    border-radius: 7px;
    padding: 1vw;
}

.formData textarea {
    resize: vertical;
    font-size: 1.2vw;
    border-radius: 7px;
    padding: 1vw;
    height: 30vh;
    border-color: black;
}

.formData button {
    height: 7vh;
    font-size: 1.2vw;
    border-radius: 7px;
    color: white;
    background-color: #2E89A6;
    transition: 0.5s;
}

.formData button:hover {
    height: 9vh;
    font-size: 1.5vw;
}

#contactSocial {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-left: 6vw;
}

#contactSocial a {
    margin-top: 10vh;
    text-decoration: none;
    color: black;
    font-size: 2vw;
    font-weight: 900;
    transition: transform 0.5s;
}

#contactSocial a:hover {
    transform: translateX(20px);
}

#contactSocial a img {
    width: 2vw;
    height: 4vh;
}


@media(max-width:768px) {
    header {
        padding: 5vh 5vw;
    }

    header.stickyScroll {
        padding: 2vh 5vw;
        background: #2E89A6;
    }

    .content {
        padding: 12vh 5vw 2vh;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 7.0vh;
        gap: 0;
        flex-direction: column;
        background-color: #2E89A6;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        opacity: 0.8;
    }

    .nav-menu li {
        margin: 16px 0;
    }

    .nav-menu li a {
        font-size: 1.7rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .logo {
        font-size: 6.5vw;
    }

    #home h1 {
        font-size: 20vw;
    }

    #home p {
        font-size: 5.5vw;
    }

    .title {
        font-size: 9vw;
    }
    
    #about p {
        font-size: 3.5vw;
        margin-bottom: 5vh;
    }

    #pic {
        flex-wrap: wrap;
        gap: 20px;
    }

    #pic img {
        width: 42vw;
    }

    #skillsPics img {
        width: 35vw;
    }

    #projects h2 {
        font-size: 6vw;
    }

    .projectContainer {
        display: block;
        margin-bottom: 4vh;
    }

    .containerSpecific {
        width: 100%;
    }

    .containerSpecific a {
        font-size: 3.7vw;
        width: 40vw;
    }

    #contact h3 {
        font-size: 3.8vw;
    }

    #contactContainer {
        display: block;
        padding: 4vh 5vw;
    }

    .formData input {
        font-size: 4vw;
    }

    .formData textarea {
        font-size: 4vw;
    }

    .formData button {
        font-size: 4vw;
    }

    #contactSocial {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        padding-left: 6vw;
        align-items: center;
    }
    
    #contactSocial a {
        margin-top: 1vh;
        text-decoration: none;
        color: black;
        font-size: 6vw;
        font-weight: 900;
        transition: transform 0.5s;
        align-items: center;
    }

    #contactSocial a img {
        width: 9vw;
    }
}